
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/ski-resorts">Ski resorts</a></li>
    <li><a href="/capacity">Capacity</a></li>
    <li>Add new <i class="material-icons">arrow_drop_down</i>
      <ul class="dropdown">
        <!-- <li (click)="newAdmin()">Add new administrator</li>
        <li (click)="newInstructor()">Add new instructor</li> -->
        <li (click)="newSkiResort()">Add new ski resort</li>
    
      </ul>
    </li>
    <li (click)="signOut()">Sign out</li>
  </ul>
</nav>
<br><br><br>