<br>
<div style="display: block; width: 200px; height: 80px; margin-left:auto; margin-right:auto;">
<mat-form-field appearance="fill">
    <mat-label>Ski Resorts</mat-label>
        <mat-select id="skiSelect" [(value)]="selected" (valueChange)="onSelection($event)">
            <mat-option  *ngFor="let ski of resorts" id="ski{{ski.id}}" [value]="[ski.id]">
                {{ski.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<form  *ngIf="role == 'ROLE_ADMIN'" class="reactiveForm" [formGroup]="form" (ngSubmit)="dateChanged()" style="display: block; width: 200px; height: 80px; margin-left:auto; margin-right:auto;">
    <div class="example-container" >
        <mat-form-field appearance="fill">
            <mat-label>Occupancy for day</mat-label>
            <input matInput [matDatepicker]="picker"  formControlName="inputDate">
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-dialog-actions align="end">
            <button type="submit" mat-raised-button color="success" >Get occupancy</button>
        </mat-dialog-actions>
</div>
</form>
<br>
<br>

<div style="display: block; width: 500px; height: 400px; margin-left:auto; margin-right:auto;">
    <canvas baseChart
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>
